@import './var.css';

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#app {
  height: 100vh;
  width: 100%;
}

// 用于一些带有背景的容器
.shadow-btn-wrapper {
  padding: 5px;
  display: flex;
  height: 28px;
  align-items: center;
  justify-content: center;

  &.is-active {
    background-color: var(--sd-grey-5);
  }
  // 默认带有背景
  &.has-hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--sd-grey-9);
  }
  &.small {
    padding: 5px 3px;
  }

  &.icon {
    height: 24px;
    width: 24px;
    padding: 0;
  }
}

// 一些antd组件的样式覆盖(禁用显示)
.ant-btn-primary[disabled] {
  opacity: .3;
}

.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  color: var(--sd-ant-color-primary);
  background: var(--sd-ant-color-primary-bg);
  border-color: var(--sd-ant-color-primary-bg);
  text-shadow: none;
  box-shadow: none;
}